<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Cadastro</title>

</head>
<body>
    <form action="/cadastrar" method="post">
        <input type="hidden" name="_id">
        <label for="nome">Nome</label>
        <input type="text" name="nome"> <br>
        <label for="email">E-mail</label>
        <input type="text" name="email"> <br>
        <button type="submit">Cadastrar</button>
    </form>

    <% if(usuarios.length > 0){ %>
    <table width="50%" border="1" style="margin-top: 10px;">
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Ações</th>
        </tr>
        <% usuarios.forEach(function(usuario){ %>
        <tr>
            <td><%=usuario.nome%></td>
            <td><%=usuario.email%></td>
            <td align="center">
                <a href="/cadastrar/<%=usuario._id%>">Excluir</a> |
                <a href="#" data-valor="<%=usuario._id%>%>">Editar</a>
            </td>
        </tr>
        <% });%>
    </table>
    <%}%>
</body>
</html>